body {
  background-image: url('app/images/stars3.jpg');
  background-size: cover;
}

.logo{
  position:relative;
  left: 239;
  width: 30%;
  margin:auto;
  text-align: center;
}
.logo-box{
  width:700px;
}
.jumbotron{
  position:relative;
  width: 470px;
  right: 5em;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  background-color:#48d1cc;
  opacity: .9;
}
#box{
  background-color: #48d1cc;
  height: 200px;
}
.title{
  position: relative;
  font-weight: lighter;
  font-size: 40px;
  color:black;
  top: -.5em;
}
.cityInput{
  padding-top: 10px;
  margin: auto;
  width: 300px;
}
.artistList{
  color:white;
}
a{
  font-size: 19px;
}
a:hover{
  cursor: pointer;
}
.artistInfo{
  width: 600px;
  margin:auto;
  margin-top: 38px;
  text-align: center;
}
.getCity{
  height:250px;
  text-align: center;
}

button{
  width: 300px;
  height: 70;
  margin-top: 175px;
  background-color: #48d1cc;
  opacity: .75;
}
.navbar-logo{
  position:relative;
  top:-5px;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center center;
  width:86px;
  height:55px;
}
.navbar-default{
  border: none;
}
.navbar{
  margin-bottom: 0px;
}
.navColor{
  background-color: #AE0077;
  height: 80px;
}
.cities{
  /*margin-top:-21px;*/
  background-color: black;
  color: #48d1cc;
  text-align: center;
  font-size: 25px;
  height: 100%;
  opacity: .7;
}
.navLinks{
  top:15px;
  padding-left: 10px;
  vertical-align: center;
  color:white;
  font-size: 20px;
}
.nav{
  border:none;
}
.header{
  font-size: 32px;
  font-weight: lighter;
  text-decoration: underline;
  margin-top: 20px;
}



