html{
  background-color: #B5ADB6;
}
footer {
  display:block;
  vertical-align: top;
 }
.artist{
  color: black;
}
.artistInfo{
  width: 350px;
  position: fixed;
  left: 33%;
}
a[ng-click]{
    cursor: pointer;
}

#box{
  background-color: #48d1cc;
  height: 200px;
}

.cityInput{
  padding-top: 40px;
  margin: auto;
  right: 50px;
  width: 300px;
}
.artistList{
  /*color:black;*/
  margin-left: 15px;
}

.artist{
  font-size: 25px;
  color: black;
  font-weight: lighter;
  transition: font-size 0.3s ease-in;
}
.artist:hover{
  cursor: pointer;
  color:black;
  text-decoration: none;
  font-size: 35px;
  transition: font-size 0.3s ease-out;
}
.artist:focus{
  text-decoration: none;
}
.artistInfo{
  width: 600px;
  margin:auto;
  margin-top: 38px;
  text-align: center;
}
.getCity{
  height:250px;
  text-align: center;
}
#loading {
    margin-top: 200px;
    position: fixed;
    margin-left: 50%;
}

#artists {
  overflow: scroll;
  position: fixed;
  height: 100%;
  width: 33%;
  border-right-width: 0px;
  border-left-width: 0px;
}
/*#loginCard {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}*/

#loginButton {
  position: absolute;
  top: 3%;
  width: 100%;
  padding-top: 7%;
  height: 27%;
}
#headerLogin{
  position: relative;
  top: -32%;
}

/*button{
  width: 300px;
  height: 70;
  margin-top: 175px;
  background-color: #48d1cc;
  opacity: .75;
}*/
.navbar-logo{
  position:relative;
  top:14px;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center center;
  width:86px;
  height:55px;
}
.navbar-default{
  border: none;
}
.navbar{
  margin-bottom: 0px;
}
.navColor{
  background-color: #4EAAAE;
  height: 120px;
}
.cities{
  /*margin-top:-21px;*/
  background-color: black;
  color: #48d1cc;
  text-align: center;
  font-size: 25px;
  height: 100%;
  opacity: .7;
}
.logo{
  position:relative;
  left: 239;
  width: 30%;
  margin:auto;
  text-align: center;
}

.logo-box{
  width:700px;
}
.navLinks{
  top:15px;
  padding-left: 10px;
  vertical-align: center;
  color:white;
  font-size: 20px;
}


.header{
  font-size: 32px;
  font-weight: lighter;
  text-decoration: underline;
  margin-top: 20px;
}
.spotify{
  border:#ED3E32;
  background-color: #ED3E32;
}
.spotify:hover{
  border:#ED3E32;
  background-color: #ED3E32;
}
.cityImage{
  background: url('../assets/loginPic.jpeg');
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}
.invisible{
  visibility: hidden;
}

.profile-panel .profile-avatar {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    float: left;
}

.profile-panel .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
}
.logout{
  color: black;
}
.title{
  position: relative;
  font-weight: lighter;
  font-size: 40px;
  color:black;
  top: -.5em;
}
.titleBox{
  position: relative;
  /*top: -27px;*/
  height: 500px;
  background-color: black ;
}
h2{
  padding-top: 15px;
  color: white;
}

.nav{
  background-color:#514E64;
  border-style: solid;
  border-color:#514E64 #514E64 #41A7C7 #514E64;
}
.tagLine{
  color: white;
}
.speaker{
  position: relative;
  top: -130px;
}
#speaker1{
  /*position: relative;*/
  top: -5px;
  /*right: 50%;*/
}

.row{
  position: relative;
  top: 20px;
}
.welcome{
  font-weight: 200;
  color: #B5ADB6;
}
.description{
  top: -50px;
  margin: 0px;
  /*height: 500px;*/
  background-color:#B5ADB6;
}
.cardTitle{
  color:#FF3A4A;
}
.footer-copyright{
  font-size: 14px;
  color: #B73144;
}

.icon{
  padding-top: 50px;
}
.team{
  font-size: 26px;
  line-height:.1;
  margin: 0px;
  color: white;
}
.team-member{
  font-weight: 200;
  color:#41A7C7;
}
.team-description{

  background-color: #514E64;
  position: relative;
}
.bio{
  margin-left: 30px;
}
.meet-team{
  color:#B73144;
  font-weight: 200;
  text-decoration: underline;
}
.welcome-tag{
  padding-top: 3%;
  color: #41A7C7;
  width: 55%;
  position: relative;
  margin: auto;
}
.teamDiv{
  position: relative;
  margin-top: 60px;
  margin-left: 30px;
}
.team-member-interests{
  color: white;
  display: inline-block;
}
.concertCrowd{
  position: relative;
  top: -20px;
}
