@font-face {
  font-family: avenir;
  src: url(assets/avenir-light.woff)
}
html{
  font-family: avenir;
  background-color: #49585B;
}
a[ng-click]{
    cursor: pointer;
}
.tagLine{
  color: white;
}
.row{
  position: relative;
  top: 20px;
}
.description{
  top: -50px;
  margin: 0px;
  font-size: 21px;
  font-weight: 100;
  background-color:#49585B;
}
.cardTitle{
  color:#FF3A4A;
}
.footer-copyright{
  font-size: 14px;
  color: #B73144;
}
.icon{
  padding-top: 50px;
}
.team{
  font-size: 26px;
  line-height:.1;
  margin: 0px;
  color: white;
}
.team-member{
  font-weight: 100;
  color:#41A7C7;
}
.team-description{
  height: 96px;
  background-color: #181c1e;
  padding-top: 1px;
  position: relative;
}

.meet-team{
  color:#B73144;
  font-weight: 100;
}
.team-member-interests{
  color: white;
  font-size: 26px;
  font-weight: 100;
}
.concertCrowd{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.jamm-city{
  letter-spacing: 15px;
  font-weight: 100;
  font-size:100px;
  color: white;
}
.text-on-pic{
  position:absolute;
  top: 200px;
  width: 100%;
}
.directions{
  color: white;
}
.bio{
  top: -20px;
  background-color: #181c1e;
}
.jcFont{
  height: 15%;
}
.login{
  color:#FF3A4A;
  background-color: none;
  border:1px solid #fff;
  padding: 5px 10px 5px 10px;
}
.linkedIn{
  height: 8%;
  width:13%;
}
.octocat{
  height: 10%;
  width:15%;
}
.artist-pic{
  height: 200px;
  width: 200px;
}
