.artistList{
  margin-left: 15px;
}
.artist{
  font-size: 25px;
  color: black;
  font-weight: lighter;
  transition: font-size 0.3s ease-in;
}
.artist:hover{
  cursor: pointer;
  color:black;
  text-decoration: none;
  font-size: 35px;
  transition: font-size 0.3s ease-out;
}
.artist:focus{
  text-decoration: none;
}

#audioPlayer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  /*background: #039be5;*/
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  padding: 12px;
}

.playlist {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 10;
  padding: 0px;
  margin-bottom: 14px;
  padding: 0px 12px;
  bottom: 40%;
  text-align: right;
  background: #039be5;
  color: white;
  max-height: 500px;
  overflow: hidden;
  max-width: 100%;
  -webkit-transition: max-width 0.25s ease-in;
  -moz-transition: max-width 0.25s ease-in;
  -ms-transition: max-width 0.25s ease-in;
  -o-transition: max-width 0.25s ease-in;
  transition: max-width 0.25s ease-in;
}


#audioPlayerHeader {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.hideSongs{
  color: transparent;
  -webkit-transition: max-width 0.15s ease-out;
  -moz-transition: max-width 0.15s ease-out;
  -ms-transition: max-width 0.15s ease-out;
  -o-transition: max-width 0.15s ease-out;
  transition: max-width 0.15s ease-out;
  max-width: 0px;
}

#loading {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.playlist > div:hover {
  text-decoration: underline;
  font-weight: 800;
  overflow: visible;
}

.playlist > div {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  left: 0px;
  transition: font-weight .1s;
}

#songTitle {
  max-width: 50%;
}


div.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  font-size: 36px;
}

.playingInfo {
  padding-top: 12px;
}

#artists {
  overflow: scroll;
  position: fixed;
  height: 100%;
  width: 33%;
  border-right-width: 0px;
  border-left-width: 0px;
}
.artistInfo{
  width: 350px;
  position: fixed;
  left: 33%;
}
.nav-wrapper{
  background-color: grey;
}
.loadingEvents .aaying-info{
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
}

div.card-image {
  height: auto;
}

div.card  {
  width: 50%;
}

.spinner{
  color: blue;
}
