


<div id='infoHeader' >
    <span>
      <div class="profile">
        <a target="_blank" href="{{user.url}}" title="Go to Spotify"><img src="{{user.profilePic}}" alt="" class="circle responsive-img profile-pic "><p class="profile-link">{{user.displayName}}</p></a>
      </div>
     <p class="event-headline">{{header}}</p>
     
    </span>
</div>
<div id='audioPlayer' >
  <div ng-click='toggleClasses()' id='audioPlayerHeader'>
    <span><img class="audio-footer-logo" src='../../assets/jamm-city-white.png'></span>
    <span ng-show='playingArtist' id='songTitle'>
      Now Playing - {{playingSongTitle}} by {{playingArtist}}
    </span>
    <audio src='{{stream_url}}' preload="auto" autoplay controls ></audio>
  </div>
</div>
  <div class="row pageContent">
    <preloader ng-if='obj.loading' class="preloader-spinner center-align col s12 m9 l10"></preloader>
    <div class='center-align col s12 m9 l10' ng-if='!obj.loading' >
      <artist-Card ng-repeat='artist in eventsList'></artist-Card>
    </div>
    <div class="sidebar col s0 m3 l2">
      <form ng-submit='goVenue()' align='middle'>
        <div class='input-field'>
          <input type='text' align='middle' ng-model='text' class='form-control inputBox' aria-describedby='basic-addon1' options='options' details='details' placeholder='Venue Search' />
        </div>
      </form>
    </div>
    <div align='middle' ng-hide="venueSearch" class='loadingEvents center-align col s12 m9 l10'>Loading events!</div>
    <a ng-click='goBack()' align='middle' ng-show="venueSearch"  class='loadingEvents center-align col s12 m9 l10'>Back to City Search</a>
  </div>
