<div id='audioPlayer' >
  <div ng-repeat='song in songs' ng-class="{'hideSongs': hideSongs}">
    <span ng-click='playSong(song)'>{{song.title}}</span> 
  </div>
  <div ng-click='toggleClasses()'>
    <span>Jamm-City</span>
    <audio src='{{stream_url}}' preload="auto" autoplay controls ></audio>
  </div>
</div>
<preloader ng-if='obj.loading' class="preloader-spinner"></preloader>
<div class='center-align' ng-if='!obj.loading' >
  <p class='playing-info center-align'>Artists playing near <b>{{city}}</b></p>
  <artist-Card ng-repeat='artist in eventsList'></artist-Card>
</div>
<div align='middle' class='loadingEvents'>Loading events!</div>
