.artistInfo{
  width: 350px;
  position: fixed;
  left: 33%;
}
.artistInfo{
  width: 600px;
  margin:auto;
  margin-top: 38px;
  text-align: center;
}
.spotify{
  border:#ED3E32;
  background-color: #ED3E32;
}
.spotify:hover{
  border:#ED3E32;
  background-color: #ED3E32;
}
.card-image{
  overflow: hidden;
  height: 225px;
  width: 100%;
}
.image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.card-content{
  color:#10435e;
}
.card{
  display: inline-block;
  margin: 15px;
  width: 400px;
  color:#039be5 !important;
}
.add-to-spot{
  color:#039be5 !important;
}
.add-to-spot:hover{
  color:#DA4147 !important;
}
.card-info{
  font-size: 17px;
}
