.artistInfo{
  width: 350px;
  position: fixed;
  left: 33%;
}
.artistInfo{
  width: 600px;
  margin:auto;
  margin-top: 38px;
  text-align: center;
}
.spotify{
  border:#ED3E32;
  background-color: #ED3E32;
}
.spotify:hover{
  border:#ED3E32;
  background-color: #ED3E32;
}
.card-image{
  overflow: hidden;
  height: 225px;
  width: 100%;
}
.image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.card-content{
  color:#10435e;
  padding: 1px !important;
}
.card{
  display: inline-block;
  padding: 1px !important;
  margin: 15px;
  width: 400px;
  color:#039be5 !important;
}
.add-to-spot{
  font-size: 3em;
  color:#FAEBD7 !important;
}
.add-to-spot:hover{
  color:#DA4147 !important;
}
.spot{
  position: relative;
  left: -15% !important;
}
.soundcloud{
  position: relative;
  right: -23% !important;
}
.card-info{
  color: #FAEBD7 !important;
  font-size: 1.2vw;
  padding: 0px !important;
  margin: 7px !important;
  border-top: 0px !important;
}
.artist-name{
  margin-left: 6px;
  font-size: 2vw;
}
.date-venue{
  margin-right: 6px !important;
}
.card-color{
  background: #007196;
  
}
.card-info{
  align-items: center;
}
