
    <div class="card grey lighten-2" ng-controller="JamArtistCtrl">
      <div class="card-content">

        <div class='card-header'>
          <div>
          <p class="card-info">{{artist.artistName}}</p>
          </div>
          <div>

             <p class="card-info">{{artist.eventDateTime.date}}</p>

          </div>
          <div>
            <p class="card-info">{{artist.venue}}</p>
          </div>

        </div>
        <div class="card-image">
            <img ajax-img='artist.artistId' class="responsive-img image" ng-src='null'>
        </div>
        <div class="card-action">
            <span>
              <a href="#" ng-click='spotify(artist)' class='add-to-spot spot'>Add to Spotify</a>
              <a href="#" ng-click='soundCloud(artist)' class='add-to-spot soundcloud'>Soundcloud</a>
            </span>
        </div>
      </div>
    </div>
