
    <div class="card card-color pic" ng-hide="nopic" ng-controller="JamArtistCtrl">
      <div class="card-content">

        <div class='card-header card-info'>
          <div>
          <h3 class="card-info artist-name">{{artist.artistName}}</h3>
          </div>
          <div>
            <p class="card-info date-venue">{{artist.eventDateTime.date}}</p>
            <p class="card-info date-venue">@ {{artist.venue}}</p>
         <!--    <p class="card-info date-venue" ng-show="artist.genres.length > 0">
                <span ng-show="{{artist.genres.length === 1}}">Genre: {{artist.genres[0]}} </span>
                <span ng-show="{{artist.genres.length > 1}}">Genres: 
                  <span ng-repeat="(index, genre) in artist.genres">
                    <span ng-show="{{index === 0}}">
                      {{genre}}
                    </span>
                    <span ng-show="{{index > 0}}">
                      , {{genre}}
                    </span>
                  </span>
                </span>
            </p> -->

          </div>
        </div>
        <div class="card-image">
            <img class="responsive-img image" src={{artist.artistpic}}>
        </div>
        <div class="card-action card-info">
            <span>
              <a href="" ng-click='spotify(artist)' class='add-to-spot spot' title="Click to add {{artist.artistName}} to your Jamm-City Spotify playlist"><i class="fa fa-spotify"></i></a>
              <a href="" ng-click='soundCloud($event, artist)' class='add-to-spot soundcloud'title="Click to stream {{artist.artistName}}"><i class="fa fa-soundcloud"></i></a>
            </span>
        </div>
      </div>
    </div>
